html{
    font-size: 62.5%;/*Set the default size for 1rem*/
}

h1{
    color:red;/*Set the color of these item (in these case it is the title)*/
    font-size: 20ren;/*Set the font size for these section*/
    font-family: 'Fira Code', monospace;/*Set the font for these section*/
}
h1 span{
    color: greenyellow;/*Set the color for these item*/
}
body{
    font-size: 1.5rem;/*Set the default font size for the body*/
    font-family: 'Fira Code', monospace;/*Set the default font for the body*/
}

.titulo{
    color: aqua;/*Set the color of these item*/
}
.nav-bg{
    background-color: brown;/*Set the bacground color of these item*/
    max-width: 60rem;/*Set the width of these item*/
    margin: 10rem auto;/*Set the size of the margin (format: top, right, bottom, left)*/
}
.navegation{
    display: flex;/*Type of display*/
    justify-content: space-between;/*The subtype for the display*/
}
.navegation a{
    text-decoration: none;/*Set if links have lines bellow or any other kind of thing*/
    padding: 2rem 2rem;/*Set the size of the pading (format: top, right, bottom, left)*/
    color: greenyellow;/*Set the color of these item*/
}
.navegation a:hover{
    background-color: greenyellow;/*Set the bacground color of these item*/

    color: red;/*Set the color of these item*/
    font-weight: 600;/*Set the weight of the font*/
}
.contenedor{
    width: 60rem;/*Set the width of these item*/
    margin: 10 auto 10 auto;/*Set the size of the margin (format: top, right, bottom, left)*/
}
.ancho{
    max-width: 80rem;
    margin: 0 auto;
}
.padrec{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}
.padre{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
}
.padre a, .padrec a{
    color: black;
    text-decoration: none;
    padding: 5rem;
}
.padre a:hover, .padre a:hover{
    background-color: purple;
}
.foto{
    background-image: url(/img/banner.jpg);
}